/*
Don't fear
Soon there will be style rules here
*/

.banner {
    margin-top: 2em;
    display: flex;
    background: linear-gradient(
        to bottom right,
        rgba(0, 0, 255, 0.4),
        rgba(173, 216, 230, 0.4)
    );
}

.banner img {
    flex: 1;
}

.innerBlock {
    flex: 5;
    text-align: center;
}
