/*
Don't fear
Soon there will be style rules here
*/
body {
    background: linear-gradient(
        to bottom,
        rgba(39, 39, 243, 0.8),
        rgba(173, 216, 230, 0.8)
    );
}

.pennant {
    /*display: flex;*/
    height: 5em;
    background-image: url(images/banner_Generic.jpg);
    background-repeat: no-repeat;
    text-align: center;
}

.pennant h2 {
    color: #fff;
}

/*.leftSide {
    display: flex;
    flex: 1;
}

.leftSide h2 {
    flex: 8;
    max-height: 10em;
    font-size: 150%;
}

.leftSide button {
    flex: 1;
    max-width: 5em;
    max-height: 4em;
    font-size: 15px;
}

.rightSide {
    height: 100%;
}*/

.banner {
    background: rgba(255, 255, 255, 0.2);
    margin-top: 1.5em;
    display: flex;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.2);
}

.banner img {
    flex: 1;
}

.innerBlock {
    flex: 6;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.nextSeg {
    text-align: center;
    margin: 0.5em auto 0.5em auto;
}
